.newNote {
  resize: none !important;
  line-height: normal !important;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  border: 1px solid #CECECE !important;
}
