.noteSection {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  --note-width: 200px;
  --note-height: 120px;
}

@media (max-width: 480px) {
  .noteSection {
    padding: 10px 0px;
    flex-wrap: nowrap;
    justify-content: initial;
    overflow-x: auto;
  }
}

.noteSection > div{
  width: var(--note-width);
  height: var(--note-height);
}

.noteSection > .addButton{
  font-size: 18px;
  width: var(--note-width);
  height: var(--note-height);
}
